@font-face {
	src: url(./Refuge.otf);
	font-family: refuge;
}

body {
	font-family: refuge;
}

#header {
	background: #25DABA;
	width: 100%;
	height: 3em;
	top: 0;
	position: fixed;
	display: inline-block;	

}
#logo {
	font-family: refuge;
	float: left;
	height: 100%;
	line-height: 3em;
	margin-left: 10px;
}	

#logo h1 {
	display: inline-block;
}

#logo img {
	height: 1.5em;
}

#searchform {
	height: 100%;
	text-align: center;
	width: 800px;
	display: inline-block;
	padding-top: .6em;
}

#searchform input {
	margin: 0;
	border-radius: 1px;
	border-style: solid;
	height: 24px;
}

#searchform button {
	margin: 0;
	border-radius: 1px;
	border-style: solid;
	height: 26px;
}

#mainbody {
	margin-top: 3em;
	width: 100%;
	height: 2000px;
	text-align: center;
	background: #DA8425;
}

#contentcontainer {
	width: 1066px;
	margin: auto;
}

#leftside {
	background: #A0DA25;
	width: 60%;
	height: 1100px;
	float: left;
	text-align: right
}

#video {
	margin: 5px;
	margin-bottom: 0;
	background: #111;
}
#videocontrols {
	background: #111;
	margin: 5px;
	height: 150px;
	color: #ccc;
	text-align: left;
}
#videocontrols #title {
	float: left;
	text-align: left;
	margin: 10px;
	height: 50px;

}

#videocontrols #foot {
	float: left;
}
#comments	{
	background: #111;
	margin: 5px;
	height: 500px;
}	

#rightside {
	background: #5F25DA;
	width: 40%;
	height: 50em;
	float: right;
}
#rightcolumn {
	background: #111;
	margin: auto;
	margin-top: 5px;
	width: 97%;
	height: 95%;
}

#ad {
	float: left;
	margin: 10px;
}